.sidebar-option {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
}
.sidebar-option:hover{
    
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
    /* transition: transform 0.3s ease-in-out; */
}  


@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
   
}
.sidebar-option.active {
    background-color: #fff0ed;
    border-color: orangered;
    transition: all 0.3s ease-in-out;
    
    /* transition: transform 0.3s ease-in-out; */
}