/* 
.active {
  color: orangered;
  border-bottom: 2px solid orangered;
  border-radius: 4px;
  /* transition: border-bottom-width 0.3s ease-in-out, border-color 0.3s ease-in-out; 
  /* transform: scale(1.2);
  transition: transform 0.3s ease-in-out; 
} 
*/

ul a:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #636a78;
  transition: transform 0.3s ease-in-out;
  font-weight: 500;
}
/* li:hover {
  color: #3d424d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
  border-radius: 4px;
} */

.navbar-profile:hover .navbar-profile-dropdown,
.show-dropdown {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 4px;
  border: 1px solid orangered;
  background-color: #ffd68f;
  outline: 2px solid white;
  list-style: none;
  z-index: 2;
  font-size: 13px;
  width: fit-content;
}

.navbar-profile-dropdown img {
  width: 20px;
}
.hidden-drop {
  display: none;
}
.navbar-profile-dropdown li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  cursor: pointer;
  gap: 3px;
}
.navbar-profile-dropdown li:hover {
  color: orangered;
}
@media (max-width: 1024px) {
  .navbar .logo {
    width: 60px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 14px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px !important;
    font-size: 10px;
  }
}
@media (max-width: 900px) {
  .navbar .logo {
    width: 60px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 12px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 7px 20px !important;
    font-size: 10px;
  }
}
@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
@media (max-width: 700px) {
  .show-dropdown img {
    width: 15px;
  }
  .show-dropdown li {
    font-size: 12px;
  }
  .show-dropdown {
    width: 70px;
    translate: -20px 6px;
  }
}
